<div class="container">
    <h1>Dashboard for: <%= current_user.email %></h1>
</div>

<div class="container">
    <h2>Events attending:</h2>

    <ul>
    <% @user.events.group("id").each do |event| %>
      <li><%= event.name %></li>
    <% end %>
    </ul>

</div>
